body{
    
   /* padding-left: 10%;
    padding-right: 10%;*/
/*    background-color: #E8F2E8;*/
    font-family: "Yantramanav",cursive;
    
}
header{
    height: 150px;
    border-width: 1px 1px 1px;
    border-color: black;
}




.menu{
    font-family: "Unna",verdana,cursive;
}
.menu ol{
    float: right;
    /*padding-top: 50px;*/
}
/*
.menu h1{
    width: 100px;
    height: 50px;
    position: relative;
    float: left;
}
*/
.menu li {
    /*display: inline;
    position: static;
    background-color: #3cbff0;
    /*padding: 1em;
    box-shadow: 0px 0px 2px #29d39e;
    /*margin: 2em;*/
    transition: all 0.5s ease; 
    padding-left:5px;
    padding-right:5px;

}

.menu a:hover{
    color: #29d39e !IMPORTANT;
    font-weight: bold;
/*    box-shadow: 0px 0px 6px #3cbff0;   */
}
.menu a:active{
    color: #29d39e !IMPORTANT;
    font-weight: bold;
/*    box-shadow: 0px 0px 6px #3cbff0;   */
}


.header{
    background-color:#fff;
    box-shadow: 1px 1px 2px #183258;
}

/*
.page{
    margin-top: 5%;
    font-family: "Yantramanav",cursive;
    
}
*/
h1, h2, h3, h4, h5 {
    font-family: "Unna",verdana,cursive;
    
}
.article{
    background-color: #fff;
/*
    display: block;
    box-shadow: 0px 0px 6px #111111;
*/
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    

}
.articles{

    
    display: block;
    padding: 5px;
    

}
.articles:first-child{
    padding: 0

}
.articles img{
    width: 100%;
}
.articles:last-child{
    margin-right: 0px;
    background-color: #fff;
    display: block;
   
}

#bnv{
    padding-bottom: 20%;
    text-shadow: 1px 1px 1px #111111;
}

/*
.title h2{
    background-color: powderblue;
    position:relative;   
}
*/
footer, .footer{
    position: relative;
    width: 100%;
    left: 0;
    bottom:0;
    text-align: center;
    padding-top: 50px;
    background-color: black;
    box-shadow: 3px 0px 1px #BAB0B0;
}
footer a{
    color: #e8f2f8;
}
footer a:hover{
    color: #29d39e;
}
.truc{
    color: #fff;
    text-align: center;
}
.first{
    padding-top: 2%;
    padding-bottom: 50px;
    background-color: #E8F2E8;
    max-width: none;
     box-shadow: 0px 2px 1px #BAB0B0;
}
.first:last-child{
    padding-top: 2%;
    padding-bottom: 50px;
    background-color: #E8F2E8;
    max-width: none;
    box-shadow: 1px 1px 6px #183258;
}

.img-fluid{
    max-width: 100%;
    max-height: 720px;
}

.rounded-circle{
    border-style: solid;
    border-color: #5aedaa;
    box-shadow: 0px 0px 6px #111121;
}
#articles{
    padding-left: 10%;
}
#conte{
    text-align: center;
    font-size: 15px;
    padding-bottom: 5%;
    
}
#article{
    max-width: none;
/*    background-color: #fed11e;*/
    padding-bottom: 2%;
    padding-top: 1%;
}

#pres{
    padding-top: 5%;
    color: #29d39e;
}
#event{
    background-color: #5AEDAA;
    text-align: center; 
    font-size: 1.7em;
    font-family: "Unna";
    color: #fff;
    margin-bottom: 30px;
}
#events{
    background-color: #5AEDAA;
    text-align: center; 
    font-size: 1.7em;
    font-family: "Unna";
    color: #fff;
    margin-bottom: 30px;
}
#collo{
    font-size: 1.5em;
    font-family: 'Yantramanav';
    padding-bottom: 2%;
        
}
#inscription{
    border-color: #29d39e;
    background-color: white;
    color: #29d39e;
    transition: color 0.5s, background-color 0.5s;
    font-size: 20px;
    border-style: solid;
    float:right;
    padding-left: 20px;
    padding-right: 20px;
    
}
#inscription:hover{
    border-color: #29d39e;
    background-color: #29d39e;
    color:#FFF;
 
}
#actus{
    padding-top: 10%  
    }  
#pres .row .col-lg-7{
    padding-left: 0px;
}

.thumbnail {
    position: relative;
}

.thumbnail .caption{
    visibility: hidden;

}
.thumbnail:hover .caption{
    visibility:visible;

}





.caption {
    position: absolute;
    top: 71.5%;
    left: 5px;
    width: 97.5%;
    height: auto;
    background-color: #29d39e;
    opacity: 0.5;
    color: #fff;
}

.caption p{
    color:white;
    opacity: 1;
    
}
.titleart{
    font-size: 25px;
    float: left;
    padding-bottom: 5px;
}
.news{
    position:fixed
    top: 71.5%;
    left: 5px;
    width: 97.5%;
    height: auto;
    background-color: #29d39e;
    opacity: 0.5;
    color: #fff;
}
}